{% extends 'sp1/layout.html' %} {% block ss %}
<script>
  function showSection(section) {
    fetch(`/sp1/sections/${section}`)
      .then(response => response.text())
      .then(text => {
        console.log(text);
        document.querySelector("#content").innerHTML = text;
      });
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("button").forEach((button) => {
      button.onclick = function () {
        showSection(this.dataset.section);
      };
    });
  });
</script>
{% endblock ss %} {% block body %}
<h1>Hello!</h1>
<button data-section="1">Section 1</button>
<button data-section="2">Section 2</button>
<button data-section="3">Section 3</button>

<div id="content"></div>
{% endblock body %}
